  <label>Sign up</label>

  <form action="/users" method="POST">
    username: <input type="text" name="user[user_name]"]>
    email: <input type="email" name="user[email]">
    password: <input type="password" name="user[password]">
    <input type="submit" value="submit">
  </form>
