<!-- looking for two locals here, the tweet and the tweeter-->
<h3><a href="/users/<%=poster.id%>"><%=poster.user_name%></a></h3>
<p><%=tweet.body%></p>
<p>Posted on: <%=tweet.created_at.to_date%></p>
