<div class="top">
  <h1> Home </h1>
  <a href="/logout">logout</a>

  <button style="background-image:url(b6.gif)"><a href="/tweets/new">tweet</a></button>
</div>
</div>

<div>


  <% @tweets.each do |tweet| %>
    <%= tweet[:name] %>
    <%= tweet[:body] %>
  <% end %>

</div>

<!-- TODO: handle situation in which someone tries to follow them's own self -->
<!-- TODO: handle situation in which someone is already following this person -->
<form action="/relationship" method="post">
  <input type="hidden" name="poster" value="<%=params[:id]%>">
  <input type="submit" value="Follow">
</form>
