<div class="top">
  <h1> Home </h1>
  <a href="/logout">logout</a>

  <button style="background-image:url(b6.gif)"><a href="/tweets/new">tweet</a></button>
</div>
</div>

<div>


  <% @tweets.each do |tweet| %>
    <br><br>
    <%= tweet[:name] %>
    <br>
    <%= tweet[:body] %>
    <br><br>
  <% end %>

</div>

